In [1]:
from do_merge import Merger
import os
import pandas as pd 
import time

In [2]:
directory = r'C:\hw-8-Data_integration\Project\Record linkage\DATASETS\Couples for prediction'

In [3]:
start = time.time()
for filename in os.listdir(directory):
    print(filename)
    merger = Merger(filename)
    merger.getMatch()
    merger.getFile()
end = time.time()
total_time = end - start
print(total_time)

a.csv

KeyError: 'ID'

In [25]:
list = []
directory = r'C:\hw-8-Data_integration\Project\Record linkage\DATASETS\Merged Datasets'
for filename in os.listdir(directory):
    df = pd.read_csv(directory + '\\' + filename)
    list.append(df)

output = pd.concat(list, ignore_index = True)
#output.to_csv(r'C:\hw-8-Data_integration\Project\Record linkage\dataset_final.csv', index = False)

In [28]:
output = output.drop('ID', axis = 1)

In [30]:
output.insert(0, 'ID', range(0, len(output)))

In [38]:
output.head()

,ID,name,country,headquarters,address,founded,employees,market_cap,revenue,profit,industry,sector,categories,ceo;
0,0,accenture,ireland,dublin,NaN,1989,NaN,doll_219.03 b,doll_56.7 b,doll_6.39 b,information technology services,technology,['professionalservices'],
1,1,amazon,united states,NaN,NaN,0,1.544.000,doll_1.000 t,doll_502.19 b,doll_12.11 b,internet,NaN,e-commerce internet tech retail,
2,2,axis bank,india,maharashtra,NaN,2006,NaN,doll_25.54 b,doll_11.41 b,doll_1.71 b,banks,financials,banks financial-services,
3,3,asian paints,india,NaN,NaN,1942,7.423,doll_34.41 b,doll_3.77 b,doll_0.65 b,chemicals,NaN,['paint & coating'],
4,4,ashok leyland,india,NaN,NaN,1948,10.101,doll_5.30 b,doll_4.43 b,doll_-45.0 m,automobile,NaN,specialty-vehicles manufacturing,

In [37]:
output['ceo;'] = output['ceo;'].replace(';', '')

In [39]:
output.to_csv(r'C:\hw-8-Data_integration\Project\Record linkage\dataset_FINALE.csv', index = False)

In [40]:
df = pd.read_csv(r'C:\hw-8-Data_integration\Project\Record linkage\dataset_final.csv', low_memory = False)

In [43]:
df.head()

,ID,name,country,headquarters,address,founded,employees,market_cap,revenue,profit,industry,sector,categories,ceo
0,0,accenture,ireland,dublin,NaN,1989,NaN,doll_219.03 b,doll_56.7 b,doll_6.39 b,information technology services,technology,['professionalservices'],NaN
1,1,amazon,united states,NaN,NaN,0,1.544.000,doll_1.000 t,doll_502.19 b,doll_12.11 b,internet,NaN,e-commerce internet tech retail,NaN
2,2,axis bank,india,maharashtra,NaN,2006,NaN,doll_25.54 b,doll_11.41 b,doll_1.71 b,banks,financials,banks financial-services,NaN
3,3,asian paints,india,NaN,NaN,1942,7.423,doll_34.41 b,doll_3.77 b,doll_0.65 b,chemicals,NaN,['paint & coating'],NaN
4,4,ashok leyland,india,NaN,NaN,1948,10.101,doll_5.30 b,doll_4.43 b,doll_-45.0 m,automobile,NaN,specialty-vehicles manufacturing,NaN

In [42]:
df = df.rename(columns = {'ceo;': 'ceo'})

In [44]:
df.to_csv(r'C:\hw-8-Data_integration\Project\Record linkage\dataset_final.csv', index = False)